textarea {
    min-height: 70vh !important;
}

 main {
    font-family: 'Courier New', Courier, monospace;
 }

 .jotForm{
    display: flex;
    flex-direction: column;
 }


 @media screen and (max-width: 768px){
   .title {
      font-size: 80%
   }
 }

 @media screen and (max-width:425px){
   .typewriter {
      display: none;
   }
 }